:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;

  color: #101321;
  background: radial-gradient(circle at 90%, #008170, #20a190 50%, #232d3f 95%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}

.container {
  margin: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8vh;
  text-align: center;
}

header {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.game {
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #54a496;
  border: solid #54a496 7px;
  border-radius: 6px;
  box-shadow: 0 0 30px #54a496;
}

.cell {
  width: 24%;
  height: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 6px;
}

.message {
  position: fixed;
  top: 13vh;
  font-size: 32px;
  color: #ddd;
  height: 70vh;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-game-button {
  border: none;
  background-color: inherit;
  outline: none;
}

#new-game-button:hover {
  text-shadow: 0 0 30px white;
}
